
div{
    margin:0;
}


.header{
    display: flex;
    background-color: rgb(222, 222, 222);
    width: 100%;
    height: 90px;
    flex-wrap: wrap;
    flex: 200px 200px 200px 200px;
    justify-content: space-between;
    position: fixed;
    margin-left: 30px;
    margin-right: 50px;
    top: 0;
    left: 0;
    right: 0;
    text-decoration: underline;
    color: blue;
    overflow-x: hidden;

}
.godine{
    margin-left: 28px; 
}
.odsjeci{
    vertical-align: top;
    margin-left: 20px; 
    min-width: 200px;
} 
.predmeti{
    margin-left: 50px; 
    max-width: 1080px; 
    margin-top: 100px;
} 

.predmeti div{
    scroll-margin-block-start: 100px;
}
.odsjek{
    display: grid;
    font-weight: bold;
    font-size: 28px; 
}
.studij{
    display:grid;
    padding-top: 8px;
    padding-bottom: 8px;
    font-size: 24px;
    max-width: 1080px;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    align-content: stretch;
    grid-gap: 10px 20px; 
    grid-auto-flow: row;
     
}
.predmet{
    font-weight: 300;
    font-size: 16px;
    margin-left: 16px;
    padding-top: 8px;
    padding-bottom: 8px; 
}

.obavezni{
    background-color: white;
}

.izborni{
    background-color: powderblue;
}
