.header{
    font-size: 32px;
    font-weight: bold;
    text-align: center;
    color: rgba(0, 0, 0, 0.664); 
} 

.tekst{
    padding-top: 20px;
}

.tabela{
    margin:0;
    border-radius: 0%;
    table-layout: auto;
    width: 100%;
    height: 440px;
    font-size: 16px; 
    border: 1px solid;
    border-collapse: collapse;
}

.kolona-male-tabele{
    width:170px;
}

.mala-tabela{
    height: 100%;
    width: 100%;
    border-top: 0cm;
}



.red-male-tabele{
    height: 50%;
}

.zelena{
    background-color: green;
}

.crvena{
    background-color: red;
}

.spojene-kolone{
    padding-top:20px;
    width: 35%;
}

.prva-kolona{
    max-width: 120px;
    padding-top: 20px;
}

.prvi-red{
    font-size: 24px;
    font-weight: bold;
}

table, tr, td{ 
    text-align: center;
    vertical-align: top;
} 
tr{
    letter-spacing: 2px;
    border: 1px solid;
}
td{
    width: max-content;
    letter-spacing: 1px;
    border: 1px solid;
}

