
div{
    margin:0;
}

.icons{
    height: 30px;
    width: 30px;
}


.header{
    display: flex;
    background-color: rgb(255, 255, 235);
    width: 100%;
    height: max-content;
    flex-wrap: wrap;
    justify-content: space-between;
    position: fixed;
    margin-right: 50px;
    top: 0;
    left: 0;
    right: 0;
    text-decoration: underline;
    color: blue;
    overflow-x: hidden;

}
.godine{
    margin-left: 28px; 
}
.odsjeci{
    vertical-align: top;
    margin-left: 20px; 
    min-width: 200px;
} 
.predmeti{
    margin-left: 50px; 
    max-width: 1080px; 
    margin-top:100px;
} 

.predmeti div{
    scroll-margin-block-start: 100px;
}
.odsjek{
    display: grid;
    font-weight: bold;
    font-size: 28px; 
}
.studij{
    display:grid;
    padding-top: 8px;
    padding-bottom: 8px;
    font-size: 24px;
    max-width: 1080px;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    align-content: stretch;
    grid-gap: 10px 20px; 
    grid-auto-flow: row;
     
}
.izborni-predmet, .obavezni-predmet{
    font-weight: 300;
    font-size: 12px;
    margin-left: 16px;
    padding-top: 8px;
    padding-bottom: 8px; 
}

.obavezni-predmet{
    background-color: white;
}

.izborni-predmet{
    background-color: #b0e0e6;
}

@media all and (max-width: 676px){
    .predmeti{ 
        margin-top:150px;
    } 

    .predmeti div{
        scroll-margin-block-start: 150px;
    }
}

@media all and (max-width: 896px){
    .predmeti{ 
        margin-top:125px;
    } 

    .predmeti div{
        scroll-margin-block-start: 125px;
    }
}

@media all and (max-width: 456px){
    .predmeti{ 
        margin-top:180px;
    } 

    .predmeti div{
        scroll-margin-block-start: 180px;
    }
}